# Ignore everything
*

# Include manually
!Dockerfile
!babel.config.js
!hokusai
!postcss.config.js
!test.config.js
!Gemfile
!bin
!lib
!Gemfile.lock
!config
!renovate.json
!tsconfig.json
!Rakefile
!config.ru
!spec
!vendor
!app
!db
!package.json
!storage
!yarn.lock
!.ruby-version
