# Ignore everything by default:
*

# Require files manually:

# config
!babel.config.js
!postcss.config.js
!renovate.json
!test.config.js
!tsconfig.json
!.rubocop.yml

# dependencies
!.ruby-version
!Gemfile
!Gemfile.lock
!yarn.lock
!package.json

# rails
.env*
!app/
!bin/
!config
!config.ru
!db/
!hokusai/
!lib/
!log/.keep
!public/
!Rakefile
!spec/
!storage/.keep
!tmp/.keep
!vendor/

# scripts
!scripts/load_secrets_and_run.sh
