<ul>
  <% @projects.each do |project| %>
    <li>
      <%= project.name %>
      <ul>
        <% project.stages.order(position: :asc).each do |stage| %>
          <li><%= stage.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
