// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects_detail {
  .avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 1.25em;
    vertical-align: text-top;
  }

  div.projects {
    margin: 1em;
  }
  div.project {
    padding: 0 0 1.25em 0;
  }

  div.project .project_name {
    font-weight: bold;
  }
  div.project .project_name a {
    color: currentColor;
    text-decoration: none;
  }
  div.project:target {
    background-color: #ffc;
  }
  .project table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 0;
  }
  td.project_stage {
    border-top: 1px solid;
  }
  td.project_comparison {
    border-top: 1px solid;
    width: 50%;
  }
  td.project_comparison[data-released="true"] {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  td.project_comparison[data-released="false"] {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  td.project_stage:last-child {
    text-align: right;
  }
  td.project_comparison ul {
    margin: 0;
  }

  div.project_status {
    float: left;
    width: 1em;
    text-align: center;
  }
  .project_status_released {
    color: #090;
  }
  .project_status_unknown {
    color: #999;
  }
  .project_status_warning {
    color: #900;
  }
}

.projects_dashboard {
  body {
    font-family: "Unica77LLWebRegular";
    font-size: 14px;
  }

  h1 {
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
    clear: both;
    margin: 30px;
    font-family: "Unica77LLWebMedium";
    font-weight: normal;
  }

  h2 {
    font-size: 20px;
    font-family: "Unica77LLWebMedium";
    font-weight: normal;
    color: black;
  }

  p {
    margin-top: -4px;
    font-size: 14px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .todo {
    clear: both;
  }

  .todo .project {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 16px;
    width: calc(286px - 32px);
    height: calc(269px - 32px);
    margin: 30px;
    margin-top: 0;
    float: left;
  }

  .todo .project.red {
    border: 1px solid #F7625A;
  }

  .todo .project h2 {
    font-size: 28px;
    margin: 0;
    padding: 0;
  }

  .todo .project .comparison {
    margin-bottom: 0px;
    margin-right: 16px;
    min-height: 40px;
    background: image-url('arrow.svg') 0.5px 20px no-repeat;
    height: 91px;
    padding-left: 1px;
  }

  .todo .project .comparisons .comparison:last-child {
    background: none;
  }

  .todo .project a {
    color: inherit;
    text-decoration: inherit;
  }
  .todo .project a:hover {
    text-decoration: underline;
  }

  .todo .project .stage {
    font-family: "Unica77LLWebMedium";
    font-size: 18px;
  }

  .todo .project .who {
    margin-left: 26px;
    color: #666666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
  }

  .todo .project .changes {
    margin-left: 26px;
  }
  .todo .project .comparison.green .changes {
    color: #666666;
  }

  .todo .project p {
    color: #666666;
  }

  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
    background-color: #0FDB82;
    display: inline-block;
    margin-right: 16px;
  }

  .comparison.green .circle {
    background-color: #0FDB82;
  }

  .comparison.yellow .circle {
    background-color: #F1AF1B;
  }

  .comparison.red .circle {
    background-color: #F7625A;
  }

  .released-project {
    border: 1px solid #E5E5E5;
    padding: 16px;
    width: calc(286px - 32px);
    height: calc(75px - 32px);
    margin: 30px;
    margin-top: 0;
    float: left;
    border-radius: 2px;
  }

  .todo .circle {
    margin-bottom: 0px;
  }

  .released-project h2 {
    padding: 0;
    margin: 0;
    margin-top: -4px;
  }

  .released-project p {
    margin-top: 3px;
    color: #666666;
  }
}
