<ul>
  <% @organizations.each do |org| %>
    <li>
      <%= org.name %>:
      <%= link_to 'detail', projects_path(organization_id: org.id) %> / 
      <%= link_to 'dashboard', projects_path(organization_id: org.id, view: 'dashboard') %>
    </li>
  <% end %>
</ul>
